/*OBRAS*/
.container{
    h1{
        text-align:$textAling;
        padding-top: 10px;
    }
    h4{
        text-align:$textAling;
    }
    .carousel{
        .img{
            height: 400px;
            
        }
        h1{
            background-color: #000000a8;
            border-radius: 40px;
        }
        p{
            background-color: #000000a8;
            border-radius: 10px;
        }
    }
}