/*PASOS*/
.container{
    cursor: pointer;
    .titulo{
        text-align: $textAling;
        margin-top: 40px;
    }
    .row{
        top: 300px;
    }
    .btn{
        background-color: rgb(112, 74, 23);
        color: rgb(250, 253, 255);
    }
    .col-lg-4{
        padding-top: 100px;
        background-color: rgba(230, 223, 201, 0.664);
        h2{
            text-align: center;
        }
    }
    .imagenpaso{
        border-radius: 1000px;
        display:block;
        margin:auto;
    }
    .boton{
        margin: 0;
    }
    
}